{% extends 'base.html' %}

{% load widget_tweaks %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
<form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
  <!-- Upload pdf -->
  <div class="card card-body">
    <div class="container-fluid">
      <div class="well">
        {{ form.pdf }}
      </div>
    </div>
  </div>
  <!-- Botão Salvar-->
  <br/>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>

  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

{% endblock %}